body{
    font-size: 1.3em;
}

.sticky-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 8px;
}

.to-stick{
    background-color: brown;
    color: #fff;
    padding: 10px;
}