body{
    font-size: 1.3em;
}

.to-stick{
    width: 100%;
}

.to-stick > div{
    background-color: brown;
    color: #fff;
    padding: 10px;
}

.to-stick.sticky-is-visible > div{
    margin: 0 8px;
}